{mod_cond, all}.
{sub_dirs, [
    "rel",
    "src"
]}.
{lib_dirs,
    [
        "deps",
        "apps"
    ]
}.
{deps, [
    {jsx, "2.8.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {gun, "1.0.0-pre.1", {git, "git://github.com/ninenines/gun.git", {tag, "1.0.0-pre.1"}}},
    {lager, "3.2.0", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {raven, ".*", {git, "https://github.com/asabil/raven-erlang.git", "master"}},
    {estatsd, ".*", {git, "https://github.com/RJ/estatsd.git", "master"}}
]}.
{relx, [
    {release, {party_bot,
    "20160514.051731" %% relflow-release-version-marker
        },
        [sasl, party_bot]},
        {dev_mode, false},
        {include_erts, true},
        {overlay, [
            {template, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"}
        ]},
        {extended_start_script, true}]}.
{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"}
]}.
